########################################################################

# avec sudo ansible-playbook -c local config.vm1.yml
---
- hosts: localhost
  tasks:
    # adresse IPv4 avec nmcli (CLI pour NetworkManager)
    # éventuellement, pour supprimer les connexions en trop, faire
    # $ nmcli connection del ansible-eth1
     - shell: nmcli connection del "Connexion filaire 1"
       ignore_errors: True # permet à ansible de continuer
     - shell: nmcli connection del "ansible-eth1"
       ignore_errors: True # permet à ansible de continuer       
     - shell: nmcli connection add ifname eth1 con-name ansible-eth1 type ethernet ip4 172.16.2.156 gw4 172.16.2.151
     - shell: ip route del default
       ignore_errors: True # permet à ansible de continuer

      
